{
  "printWidth": 140,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false,
  "importOrder": [
    "^react(.*)",
    "^redux(.*)",
    "^classnames(.*)",
    "dayjs(.*)",
    "^next(.*)",
    "^lodash(.*)",
    "^swiper(.*)",
    "^jquery(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)",
    "/*/reset.scss",
    "/*/common.scss",
    "/*/templete.scss",
    "/*/main.scss",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
